.formIcons {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	background: #fafbfc;
	width: 60px;
	height: calc(100% - 50px);
	align-items: center;
	box-shadow: 0px 5px 12px rgba(23, 23, 58, 0.07);
	z-index: 5;
	position: absolute;
	border-right: 1px solid #ccc;

	&:hover {
		display: block;
		position: absolute;
		width: 200px;
		height: calc(100% - 50px);
		overflow: scroll;
		z-index: 5;
		transition: all 0.1s;
		box-shadow: 0px 0px 4px 0px #ccc;
		-webkit-transition: all 0.1s;

		.icon {
			flex-direction: row;
			width: 90%;
			margin-left: 8px;
			justify-content: flex-start;
			border-radius: 6px;
			margin-top: 5px;

			.moduleName {
				display: flex;
				text-transform: capitalize;
				width: auto;
				opacity: 1;
			}

			&-selected {
				width: 90%;
				margin-left: 8px;
				margin-bottom: 5px;

				&:first-child {
					margin-top: 10px;
				}

				&:last-child {
					margin-bottom: 10px;
				}

				.moduleName {
					display: flex;
					text-transform: capitalize;
					width: auto;
					opacity: 1;
				}
			}
		}
	}

	.icon {
		width: 44px;
		height: 44px;
		background: #fafbfc;
		border-radius: 6px;
		margin-top: 5px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:first-child {
			margin-top: 10px;
		}

		&:last-child {
			margin-bottom: 10px;
		}

		&:hover {
			cursor: pointer;
			background: #eef1fa;
		}

		&-selected {
			width: 44px;
			height: 44px;
			background: #fafbfc;
			border-radius: 6px;
			margin-top: 5px;
			display: flex;
			align-items: center;
			background: #eef1fa;
			cursor: pointer;

			&:first-child {
				margin-top: 10px;
			}

			&:last-child {
				margin-bottom: 10px;
			}

			.moduleName {
				text-transform: capitalize;
				opacity: 0;
				width: 0;
				color: #4777ed;
			}

			.moduleLogo {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 12px;
				width: 20px;
				height: 20px;
				filter: invert(55%) sepia(53%) saturate(6105%) hue-rotate(208deg)
					brightness(94%) contrast(98%);

				.Authentication-icon {
					background-image: url("https://static.thenounproject.com/png/30188-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.SearchBox-icon {
					background-image: url("https://static.thenounproject.com/png/101791-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.products-icon {
					background-image: url("https://static.thenounproject.com/png/4245250-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.facet-icon {
					background-image: url("https://static.thenounproject.com/png/1051169-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.pagesize-icon {
					background-image: url("https://static.thenounproject.com/png/4525852-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.sort-icon {
					background-image: url("https://static.thenounproject.com/png/3699490-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.productView-icon {
					background-image: url("https://static.thenounproject.com/png/307609-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.spellCheck-icon {
					background-image: url("https://static.thenounproject.com/png/5035766-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.loader-icon {
					background-image: url("https://static.thenounproject.com/png/355585-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.variants-icon {
					background-image: url("https://static.thenounproject.com/png/4274894-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.swatches-icon {
					background-image: url("https://static.thenounproject.com/png/4180462-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.noResults-icon {
					background-image: url("https://static.thenounproject.com/png/385147-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.pagination-icon {
					background-image: url("https://static.thenounproject.com/png/1496891-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.breadcrumb-icon {
					background-image: url("https://static.thenounproject.com/png/4304271-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.banner-icon {
					background-image: url("https://static.thenounproject.com/png/1482722-200.png");
					background-size: 100% 100%;
					width: inherit;
					height: inherit;
				}

				.others-icon {
					background-image: url("https://static.thenounproject.com/png/2821203-200.png");
					background-size: 100%;
					width: inherit;
					height: inherit;
				}
			}
		}

		.moduleLogo {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 12px;
			width: 20px;
			height: 20px;

			.Authentication-icon {
				background-image: url("https://static.thenounproject.com/png/30188-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.SearchBox-icon {
				background-image: url("https://static.thenounproject.com/png/101791-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.products-icon {
				background-image: url("https://static.thenounproject.com/png/4245250-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.facet-icon {
				background-image: url("https://static.thenounproject.com/png/1051169-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.pagesize-icon {
				background-image: url("https://static.thenounproject.com/png/4525852-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.sort-icon {
				background-image: url("https://static.thenounproject.com/png/3699490-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.productView-icon {
				background-image: url("https://static.thenounproject.com/png/307609-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.spellCheck-icon {
				background-image: url("https://static.thenounproject.com/png/5035766-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.loader-icon {
				background-image: url("https://static.thenounproject.com/png/355585-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.variants-icon {
				background-image: url("https://static.thenounproject.com/png/4274894-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.swatches-icon {
				background-image: url("https://static.thenounproject.com/png/4180462-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.noResults-icon {
				background-image: url("https://static.thenounproject.com/png/385147-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.pagination-icon {
				background-image: url("https://static.thenounproject.com/png/1496891-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.breadcrumb-icon {
				background-image: url("https://static.thenounproject.com/png/4304271-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.banner-icon {
				background-image: url("https://static.thenounproject.com/png/1482722-200.png");
				background-size: 100% 100%;
				width: inherit;
				height: inherit;
			}

			.others-icon {
				background-image: url("https://static.thenounproject.com/png/2821203-200.png");
				background-size: 100%;
				width: inherit;
				height: inherit;
			}
		}

		.moduleName {
			display: none;
		}
	}
}
